
@model RastislavRuzbackyMojeCVmvc.Models.PacientModel

@{
    ViewBag.Title = "Detail pacienta";
}

<h2>Detail pacienta</h2>

<div class="telo">
    <h3>@Model.Meno</h3>

    <table class="table">
        <tr>
            <th>Dátum narodenia</th>
            <td>@Model.DatumNarodenia.ToShortDateString()</td>
        </tr>
        <tr>
            <th>Pohlavie</th>
            <td>@Model.Pohlavie</td>
        </tr>
        <tr>
            <th>Rodné číslo</th>
            <td>@Model.RodneCislo</td>
        </tr>
    </table>

    <h4>Príznaky</h4>
    @if (Model.Priznaky != null && Model.Priznaky.Any())
    {
        <ul class="mini-list">
            @foreach (var priznak in Model.Priznaky)
            {
                <li>@priznak.Nazov</li>
            }
        </ul>
    }
    else
    {
        <p><em>Žiadne príznaky</em></p>
    }

    <h4>Genetické vyšetrenia</h4>
    @if (Model.GenetickeVysetrenia != null && Model.GenetickeVysetrenia.Any())
    {
        <ul class="mini-list">
            @foreach (var vysetrenie in Model.GenetickeVysetrenia)
            {
                <li>
                    <strong>@vysetrenie.Nazov</strong>:
                    <span style="color:@(vysetrenie.Vysledok == "Pozitívny" ? "red" : "green")">
                        @vysetrenie.Vysledok
                    </span>

                </li>
            }
        </ul>
    }
    else
    {
        <p><em>Žiadne vyšetrenia</em></p>
    }

    <h4>Diagnózy</h4>
    @if (Model.Diagnozy != null && Model.Diagnozy.Any())
    {
        <ul class="mini-list">
            @foreach (var diagnoza in Model.Diagnozy)
            {
                <li>
                    <strong>@diagnoza.Nazov</strong>
                    @if (!string.IsNullOrEmpty(diagnoza.Popis))
                    {
                        <span>: @diagnoza.Popis</span>
                    }
                </li>
            }
        </ul>
    }
    else
    {
        <p><em>Neurčená diagnóza</em></p>
    }
    <a href="@Url.Action("Index", "Pacient")" class="tlacitko-moje">Späť na zoznam</a>
</div>




